
  .create-account-btn {
    @apply
    inline-flex
    justify-center
    py-2
    px-4
    bg-indigo-600
    border
    border-transparent
    shadow-sm
    text-sm
    font-medium
    rounded-md
    text-white
    hover:bg-indigo-700
    focus:outline-none
  }

  .create-account-input {
    @apply
    mt-1
    p-2
    border-gray-300 border
    focus:outline-none
    block
    w-full
    shadow-sm
    sm:text-sm
    rounded-md
  }

  .error {
    @apply
    text-red-600
    sm:text-xs
    mt-2
  }
  
  .create-account-birth_date {
    @apply
    w-2/3
    sm:w-1/3
    md:w-1/3
    lg:w-1/3
    xl:w-1/3
    2xl:w-1/3
  }
