
  .admin-nav-container {
    @apply
      flex
      justify-between
      items-center
      border-b-2
      border-gray-100
      py-4
  }

  .admin-toggle-menu-btn {
    @apply
    bg-white
      rounded-md
      p-2
      inline-flex
      items-center
      justify-center
      text-gray-400
      hover:text-gray-700
      hover:bg-gray-100
      focus:outline-none
  }

  .admin-menu-container {
    @apply
      absolute
      top-0
      inset-x-0
      p-2
      transition
      transform
      origin-top-right
  }

  .admin-menu {
    @apply
      rounded-lg
      shadow-lg
      ring-1
      ring-black
      ring-opacity-5
      bg-white
      divide-y-2
      divide-gray-50
  }

  .admin-close-menu-btn {
    @apply
      bg-white
      rounded-md
      p-2
      inline-flex
      items-center
      justify-center
      text-gray-400
      hover:text-gray-500
      hover:bg-gray-100
      focus:outline-none
  }

.admin-nav-item {
    @apply
      p-2
      rounded-lg
      text-base
      font-medium
      text-gray-500
      hover:text-gray-700
      hover:bg-gray-200
  }

  .admin-nav-logout-btn {
    @apply
      w-full
      flex
      items-center
      justify-center
      px-4
      py-2
      border
      border-transparent
      rounded-md
      shadow-sm
      text-base
      font-medium
      text-white
      bg-indigo-600
      hover:bg-indigo-700
  }
